.newsItem {
    background-color: #dee9ff;
    max-height: 290px;
    height: 290px;
    max-width: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 24px;
    margin: 0px 10px 30px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #215874;
    @media (max-width: 726px) {
        max-width: 360px;
    }
    &:hover {
        box-shadow: 0 0 15px #dee9ff;
        .title {
            background-color: #215874;
            color: #dee9ff;
        }
    }
    .title {
        font-size: 25px;
        font-weight: 400;
        position: relative;
        transition: all 0.2s ease-in-out;
        padding: 10px;
        line-height: 37px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        @media (max-width: 480px) {
            font-size: 20px;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -2px;
            height: 100%;
            width: 2px;
            margin-left: 2px;
            background-color: #215874;
        }
    }
    .bottomWrapper {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        @media (max-width: 480px) {
            flex-direction: column;
        }
    }
}
