.titleItem {
    margin: 30px 0px 75px;
    h2 {
        color: #2757a9;
        font-size: 65px;
        margin: 0;
        font-weight: 500;
        @media (max-width: 600px) {
            font-size: 45px;
        }
        span {
            opacity: 0.8;
            color: #fff;
        }
        p {
            text-transform: uppercase;
            color: #fff;
            opacity: 0.3;
            font-weight: normal;
            font-size: 8rem;
            padding-top: 20px;
            @media (max-width: 767px) {
                font-size: 6rem;
            }
            @media (max-width: 600px) {
                font-size: 4rem;
            }
        }
    }
}