*,*:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.header {
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before {
    content: '';
    background-color: #1c2f39;
    border-bottom: 1px solid #215874;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 100%;
    padding: 10px 35px;
    color: #dee9ff;
    @media (max-width: 480px) {
        padding: 10px 15px;
    }
    .title {
        font-size: 25px;
        font-weight: normal;
        z-index: 3;
    }
    .header-menu {
        z-index: 3;
        a {
            color: #fff;
            text-decoration: none;
            margin-left: 35px;
            font-size: 18px;
            font-weight: 400;
            &.linkActive {
                color: #2757a9;
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .header-burger {
        display: none;
    }
    @media (max-width: 767px) {
        .header-burger {
            display: block;
            position: relative;
            z-index: 3;
            width: 30px;
            height: 20px;
            cursor: pointer;
        }
        .header-burger:before,
        .header-burger:after,
        .header-burger span {
            content: '';
            background-color: #dee9ff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        .header-burger span {
            top: 9px;
        }
        .header-burger:before {
            top: 0;
        }
        .header-burger:after {
            bottom: 0;
        }
        .header-burger--active span {
            transform: scale(0);
        }
        .header-burger--active:before {
            transform: rotate(45deg);
            top: 9px;
        }
        .header-burger--active:after {
            transform: rotate(-45deg);
            bottom: 9px;
        }
        .header-menu {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: -100%;
            right: 0;
            width: 50%;
            height: 100%;
            background-color: #1c2f39;
            border-left: 1px solid #215874;
            z-index: 2;
            padding: 60px 0 0 10px;
            margin-top: 20px;
            opacity: 0;
            transition: all 0.5s ease;
        }
        .header-menu--active {
            top: 0;
            opacity: 1;
        }
        .header-menu a {
            font-size: 25px;
            margin: 0 0 20px 0;
        }
    }
}