.newsListPageWrapper {
    background: linear-gradient(135deg, rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.5));
    background-attachment: fixed;
}
.newsListPage {
    padding: 50px 35px 0px;
    height: 100%;
}