.mainFooter {
    background-color: #1c2f39;
    border-top: 1px solid #215874;
    color: #dee9ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;
    @media (max-width: 480px) {
        padding: 10px 15px;
    }
    div {
        font-size: 15px;
        font-weight: 400;
        &.small {
            font-size: 12px;
            font-weight: 400;
            &.small-right {
                text-align: right;
            }
            &.small-left {
                text-align: left;
            }
        }
        &.footer-year {
            font-size: 15px;
            font-weight: 400;
            @media (max-width: 600px) {
                display: none;
            }
        }
        &.footer-author {
            @media (max-width: 600px) {
                display: none;
            }
        }
    }
}