.detailPageWrapper {
    background-color: rgba($color: #000000, $alpha: 0.8);
    background-attachment: fixed;
    height: 100%;
    margin-bottom: 20px;
    .detailPage {
        color: #dee9ff;
        padding: 80px 35px 0px;
        display: flex;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        @media (max-width: 480px) {
            padding: 80px 15px 0px;
        }
        .title {
            width: 30%;
            @media (max-width: 767px) {
                width: 100%;
            }
            .titleText {
                color: #2757a9;
                font-size: 50px;
                margin: 0;
                margin-bottom: 30px;
                font-weight: 400;
                @media (max-width: 1024px) {
                    font-size: 30px;
                }
                @media (max-width: 767px) {
                    font-size: 25px;
                }
            }
            .titleAttributes {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 30px;
                .titleSource {
                    font-size: 25px;
                    @media (max-width: 480px) {
                        font-size: 20px;
                    }
                }
            }
        }
        .description {
            width: 70%;
            padding-left: 30px;
            @media (max-width: 767px) {
                width: 100%;
                padding-left: 0;
            }
            .descriptionImage {
                max-width: 100%;
                margin-bottom: 60px;
            }
            .descriptionText {
                font-size: 25px;
                margin: 0;
            }
        }
    }
}